<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
        *{
            margin: 0;
            padding: 0;
            font-family: 'Oswald', sans-serif;
        }
        nav{
            background-color: #025159;
            padding: 22px;
        }
        h1{
            color: #ffffff;
            padding: 15px;
            display: inline;
;
        }
        li{
            list-style-type: none;
            padding: 7px;
            float: right;
            margin-right: 15px;
            display: inline;
            color: #C4EEF2;
            
        }
        ul{
            display: inline;
        }
    </style>
</head>
<body>
 <nav>
    <h1>LATEST MEMES</h1> 
    <ul>
        <a href="/"> 
            <li>HOME</li> 
        </a>
        <a href="/about"> 
            <li>ABOUT</li> 
        </a>
        <a href="/latest"> 
            <li>LATEST</li> 
        </a>
    </ul>
 </nav>
 <br>
 <br>
 <div class="container">
    <h2>LATEST MEMES HERE</h2>
</div>
</body>
</html>